.header_bottom{
    width: 100%;
    position: relative;
    float: right;
}
.option{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: auto;
    margin-top: 20px;
}
.search{
    position: relative;
    z-index: 1;
}
.option li{
    list-style-type: none;
}
.search form{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}
.search-submit{
    display: flex;
    width: 32px;
    height: 32px;
    background: url(../../frontend/images/search-bg.png) center center no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: none;
    transition: .4s;
    color: black;
}
.search form:hover .search-submit{
    background-color:  #f7544a;
}
.search-input{
    position: relative;
    top: 35px;
    right: 0;
    outline: none;
    background: white;
    width: 220px;
    height: 36px;
    margin: 0;
    z-index: 1000;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 12px;
    color: #2c3e50;
    border: 1px solid  #f7544a;
    display: none;
    transition: .4s; 
}
.search form:hover .search-input{
    display: block;
}
.option-cart{
    display: flex;
    position: relative;
    margin-left: 10px;
    padding-bottom: 5px;
}
.option-cart a.cart-icon{
    display: flex;
    justify-content: flex-end;
    width: 32px;
    height: 32px;
    margin-right: 24px;
    background: url(../../frontend/images/carticon.png) center center no-repeat;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 5px;
    border: 0;
    font-size: 0;
    transition: .4s;
}
.option-cart a.cart-icon:hover{
    background-color: #f7544a;
}
.option-cart .cart_no{
    position: absolute;
    top: -8px;
    right: 0;
    width: 20px;
    font-size: 14px;
    color: white;
}
.option-cart-item {
	position: absolute;
	top: 35px;
	right: 24px;
	width: 290px;
	border: 1px solid #f7544a;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
	z-index: 1000;
    display: none;
}
.option-cart:hover .option-cart-item {
    transition: 1s;
	display: block;
}
.option-cart{
    display: flex;
}
.option-cart-item li {
    align-items: center;
    display: flex;
    justify-content: space-around;
	margin: 10px 0;
	width: 100%;
}
.cart-item{
    display: flex;
}
.cart-item .image{
    border: 1px solid #ccc;
    height: 46px;
    width: 40px;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 5px 5px;

}
.cart-item .image img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.cart-item .item-description{
    width: 130px;
    padding-left: 15px;
}
.cart-item .item-description .name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
}
.cart-item .item-description p{
    font-size: 11px;
    margin-bottom: 2px;
    color: #898988;
}
.option-cart a{
    background: none;
}
.cart-item .right{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: auto;
    padding: 5px;
}
.cart-item .price{
    font-size: 15px;
    font-weight: 500;
}
.option-cart-item .total strong{
    margin-left: 15px;
    font-size: 18px;
    color: #f7544a;
}
.option-cart-item button.checkout {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    background: white;
    border: 1px solid #898988;
    transition: .4s;
    border-radius: 5px;
    outline: none;
}
.option-cart-item button.checkout:hover {
    background: #f7544a;
}
.option-cart-item .checkout {
    float: right;
}
/*  */
